@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Basic.Models.Search

<form method="get" asp-action="Gorsel" asp-controller="Home">
    <input type="text" asp-for=@Model.Id  placeholder="Page Id"/>
    <input type="text" asp-for=@Model.Name placeholder="Page Name" />
    <input type="submit" value="Enter" />
</form>