<center>
    <h2>Welcome Home Page</h2>
    <br />
    <br />
    <a  class="menu" href="@Url.Action("QueryString", "Home")">Link</a>
</center>

<style>
.menu{
    text-decoration: none;
    border: 3px solid lightskyblue;
    border-radius: 3px;
    padding:10px;
    color:black;
    margin:10px;
    font-size: 20px;
    font-weight: 60px;
    border-width: 3px;
}
.menu:hover{
    border: 3px double blueviolet;
    border-width: 5px;
    color:skyblue;
}
</style>