@model List<Hafta6.Models.Data>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model){
            <tr>
                <td scope="col">@user.Email</td>
                <td scope="col">@user.Username</td>
                <td scope="col">@user.Password</td>
            </tr>
        }
    </tbody>

</table>