<div class="content">
    <div class="display-3">
        About Page
    </div>
    <hr>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui officiis ab nesciunt non est tempora voluptatibus itaque ipsum magnam odit dicta voluptatem voluptas minima quidem, illum amet ipsa reprehenderit recusandae!
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum quam sequi atque cumque ratione, delectus alias, fugit autem reprehenderit nostrum nam deleniti molestiae quia ducimus iure, enim quod voluptatum error.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam blanditiis ex sed numquam ratione sint aut praesentium? Ab tempore, adipisci, consequatur expedita id eum, placeat minima minus obcaecati vero rerum.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vitae velit voluptates eaque, natus a eveniet architecto nam laudantium maiores fugit ipsa, ex assumenda possimus odit? Reiciendis, dolores. Enim, minima?
    </p>
</div>
