<div class="display-3">FurOfTheWeak</div>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis vel suscipit magni ex architecto optio deleniti distinctio maiores odit rem natus dignissimos ab possimus, sit repudiandae minima enim ipsam unde.
</p>

<a href="/Home/Register" class="reg">Register</a>


<style>
.reg{
    text-decoration: none;
    text-align: center;
    border: 2px solid;
    padding:10px;
    font-size: 20px;
}

</style>
