<div class="text-center">
    <div class="display-6">Home Page</div>
    <br />
    <hr />
    <br />
    <a class="special-btn" href="@Url.Action("SignUp", "User")">Sign Up</a>
    <a class="special-btn" href="@Url.Action("SignIn", "User")">Sign In</a>
</div>

<style>
.special-btn{
    text-decoration: none;
    color:black;
    border: 1px solid blue; 
    border-radius: 20px;
    padding:7px;
    margin:7px;
    font-size: 20px;
    font-weight: 20;
}
.special-btn:hover{
    color: purple;
    border: 1px solid #000080;
    background-color: #b0c8ff;
    font-weight: 10px;
}
</style>

