@model List<Basic.Models.User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<table border=1>
    <thead>
        <tr>
            <th>Id</th>
            <th>Ad</th>
            <th>#</th>  
        </tr>
    </thead>
    <tbody>
        @foreach(var deger in Model){
            <tr> 
                <td>@deger.Id</td>
                <td>@deger.Name</td>
                <td><a asp-action="Detay" asp-controller="User" asp-route-id=@deger.Id >Detay</a></td>
            </tr>
        }
    </tbody>
</table>
