@model List<Deneme.Models.Urun>
<h1>Ürünler</h1>


<table class="table" border="2">
    <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var urun in Model)
        {
            <tr>
                <td>@urun.Id</td>
                <td>@urun.Name</td>
                <td>@urun.Description</td>
                <td>@urun.Price</td>
            </tr>
        }
    </tbody>
