@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>This is a Home Page</h1>
</div>
@section SolBar{
       <div class="text-center text-secondary">
           <h1>Biz Kimiz ?</h1>
       </div>
}
