<!DOCTYPE html>
<html>
    <head>
        <title>
            FurOfTheWeak
    </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        </head>
    <body>
    <header>
<div class="container">
    <div class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a asp-action="Index" asp-controller="Home" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a asp-action="List" asp-controller="User" class="nav-link">User List</a></li>
        <li class="nav-item"><a asp-action="Add" asp-controller="User" class="nav-link">User Add</a></li>
        <li class="nav-item"><a asp-action="Manage" asp-controller="User" class="nav-link">User Manage</a></li>
      </ul>
    </div>
  </div>
    </header>
        <div class="Render">
            @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>