<div class="display-3" style="color:black; text-align:center;font-size:30px; font-widtht:50; margin:20px; padding20px;">Ana Sayfa</div>



<center>

<a class="butn" href="@Url.Action("Index","Home")">Ana Sayfa</a>
<a class="butn" href="@Url.Action("Index","Home")">Hakkımda</a>
<a class="butn" href="@Url.Action("Ekle","Urun")">Ürün Ekle</a>
<a class="butn" href="@Url.Action("Index","Urun")">Ürünler</a>
<style>
.butn{
    color:black;
    border: 2px solid white;
    text-decoration:none;
    font-size: 20px;
    margin: 10px;
    padding: 5px;
    text-align: center;

}
.butn:hover{
    color:white;
    border: 2px solid blue;

}
.butn:active{
    color:white;
    border: 2px solid red;
}

</style>
<br /><br /><br />
<p style="width:1000px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi quas repellat blanditiis voluptas veniam, itaque repellendus reiciendis asperiores quam laudantium eius sit tempora earum deserunt fuga ipsa labore recusandae eaque.
 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore voluptates sit quia quas odit, quae quam pariatur aliquid maiores aliquam placeat dolorem eaque quod possimus alias accusantium necessitatibus sunt veniam!</p>
</center>