<div class="display-6">Bu bölümde verilerin 4 farklı yöntem ile taşındığını göstermekteyiz.</div>
<hr />
<ol>
    <li>Model ile veri aktarma</li>
    <li>ViewBag ile veri gönderme</li>
    <li>ViewData ile veri gönderme</li>
    <li>Temp Data ile veri gönderme</li>
</ol>