@model Basic.Models.User

<h2>@Model.Id</h2>
<p>Ad: @Model.Name</p>
<p>Email: @Model.Email</p>


<!--
View (Kullanıcı Arayüzü)
    Kullanıcının gördüğü HTML & CSS & JS sayfasıdır.    
    Dinamik veri göndermek için Razor söz dizimini kullanır.
    Controllerdan gönderilen modeli kullanır.
    
Rolü:
    Sadece gösterim yapar iş mantığını içermez.
 -->
