<div class="display-6 text-center w-100 m-2 p-2">Home Page</div>


<center>
    <a asp-controller="Home" asp-action="List" class="btn btn-primary w-25">User List</a>
    <a asp-controller="Home" asp-action="PostList" class="btn btn-secondary w-25">Post List</a>
</center>