<center>
    <h2>Welcome Home Page</h2>
    <br />
    <br />
    <a  class="menu" href="@Url.Action("Tupple", "Home")">Tuple Veriables</a>
</center>

<style>
.menu{
    text-decoration: none;
    border: 2px solid blue;
    border-radius: 3px;
    padding:10px;
    color:black;
    margin:10px;
}
.menu:hover{
    border: 3px double aquamarine;
    color:lime;
}
</style>