@model List<Data>
<div class="display-6 text-center text-primary m-3 p-3 w-50">User List Page</div>
<div class="m-3 p-3">
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Settings</th>


        </tr>
    </thead>
    <tbody>
        @{
            var index = 1;
        }
        @foreach (var user in Model)
        {
            <tr>
                <th scope="row">@index</th>
                <td>@user.Username</td>
                <td><a asp-route-id="@user.Id"  asp-action="Delete" asp-controller="User" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Delete</a> | <a asp-action="Edit" asp-controller="User" asp-route-id="@user.Id" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Edit </a></td>
            </tr>
            index++;
        }
    </tbody>
</table>
</div>